<header class="container header">
  <div class="row">
    <div class="col-sm-2 logo">
      <img src="assets/img/analytics.svg" alt="">
    </div>
    <div class="col-sm-2 brand-name">
      <span>BitRate</span>
    </div>
  </div>
</header>

<section class="container" *ngIf="!errorMessage">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="price-info">
        <h4>The current Bitcoin price is:</h4>
        <p class="price" *ngIf="!loading">{{ latestPrice?.lastPrice }}</p>
        <div class="col-sm-12 text-center" *ngIf="loading">
          <span class="spinner-border loading-price-spinner"></span>
        </div>
        <div class="col-sm-12 text-center stats" *ngIf="latestPrice">
          <p>Lowest trade price of the last 24 hours: <span>{{ latestPrice?.low }}</span></p>
          <p>Highest trade price of the last 24 hours: <span>{{ latestPrice?.high }}</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-right" *ngIf="latestPrice">
      <span class="text-muted">Refreshing in: {{ secondsTillRefresh/1000 }}s</span>
    </div>
  </div>
</section>

<section class="container chart">
  <div class="row">
    <div class="col-sm-12 text-center" *ngIf="!errorMessage; else error">
      <div *ngIf="loadingChart" class="loading-spinner">
        <span class="spinner-border loading-chart-spinner"></span>
      </div>
      <ngx-charts-line-chart *ngIf="!loadingChart && chartData" [scheme]="colorScheme" [legend]="legend"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [yAxisLabel]="yAxisLabel" [results]="chartData"
        [rangeFillOpacity]="rangeFillOpacity" [roundDomains]="roundDomains" [autoScale]="autoScale">
      </ngx-charts-line-chart>
    </div>

    <ng-template #error>
      <div class="error-message">
        <p>Woops! Looks like we encountered an error. Please try refreshing.</p>
        <p>{{ errorMessage }}</p>
      </div>
    </ng-template>
  </div>
</section>
